body{
	background:linear-gradient(to right, rgb(151, 234, 64), rgb(254, 253, 2));
	background-image:url("./under.png");
	height: 300px;
	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
}
